<%- include('../layout/header.ejs')%>

<div>
    <form action="/api/auth/login"  method="POST">

        <%- include('_login_form_field.ejs')%>

    </form>


</div>

<%- include('../layout/footer.ejs')%>
