<%- include('../layout/header.ejs')%>

<%- include('../layout/navigation.ejs')%>



<div class=" container col-sm-6 offset-lg-3 mt-5" >
    <h2 class="text-center">SignUp</h2>
    <form class="justify-content-center border  rounded p-4 mt-5"  action="/api/auth/signUp"  method="POST">

<%- include('_signUp_form_field.ejs')%>

    </form>


</div>

<%- include('../layout/footer.ejs')%>
